body {
    margin: 0;
    
  	font-family: "M Plus Rounded 1c", sans-serif;
    background-color: var(--color-4);
  
    h1,
    h2,
    h3,
    h4,
    ul,
    p,
    blockquote {
        margin: 0;
    }
  
    a {
        text-decoration: none;
    }
  }
  
html {
	scroll-behavior: smooth;
}