.content {
    margin: 110px 0 95px 0;
}
  
.main-text {
    text-align: center;
    margin-bottom: 47px;
  
    h2 {
        font-weight: 900;
        font-size: 2rem;
        margin-bottom: 5px;
    }
  
    p {
        font-weight: 500;
        font-size: 1.2rem;
    }
}