.cards {
    display: flex;
    justify-content: center;
    gap: 64px;
    margin: 0 100px;
    margin-bottom: 50px;
    flex-wrap: wrap;
  
   .card-item {
      background-color: var(--color-4);
      box-shadow: 0px 4px 12px 0px rgba(224,219,191, 0.6); // Changed from  #E0DBBF for transparency
      max-width: 320px;
      max-height: 316px;
      width: 100%;
      height: 100%;
      min-width: 240px; // Scaled down to 75% from 320px
      min-height: 237px;
      border-radius: 12px;
      text-align: center;
      cursor: pointer;
      transition: transform 0.3s ease-in-out;
  
      &:hover {
        transform: scale(1.05);
      }
    }
  }