.logo-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-left: 40px;
    width: 125px;
    height: 16px;
}
  
.header {
    background-image: url("../../assets/patterns/pattern-vermelha.png");
    height: 700px;
    background-position: center;
    background-repeat: repeat;
    background-size: 50%;
    position: relative;

    &-image {
        background-image: url("../../assets/patterns/ilustra.svg");
        height: 80%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 610px;
        position: relative;
    }

    &-text {
        position: relative;
        height: 100%;
        
        width: 100%;
        height: auto;
        margin: 0 auto;
        transform: translate(-52%, -105%);
        max-width: 24ch;
        word-wrap: break-word;
        color: white;
    }

    p {
        font-weight: 520;
        font-size: 0.95rem;
        padding-bottom: 24px;
    }
}