.logo-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-left: 40px;
    width: 125px;
    height: 16px;
}

@keyframes growImg {
    from {
        background-size: 0;
    }
    to {
        background-size: 610px;
    }
}

@keyframes fadeTxt {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.header {
    background-image: url("../../assets/patterns/pattern-vermelha.png");
    height: 700px;
    background-position: center;
    background-repeat: repeat;
    background-size: 50%;
    position: relative;

    &-image {
        animation-name: growImg;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        background-image: url("../../assets/images/ilustra.png");
        height: 80%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 610px;
        position: relative;
    }

    &-text {
        animation-name: fadeTxt;
        animation-duration: 2.1s;
        animation-fill-mode: forwards;
        position: relative;
        height: 100%;
        width: 100%;
        height: auto;
        margin: 0 auto;
        transform: translate(-70%, -130%);
        max-width: 24ch;
        word-wrap: break-word;
        color: white;
    }

    p {
        font-weight: 520;
        font-size: 0.95rem;
        padding-bottom: 24px;
    }
}